.gridster
{
	color:#ffffff;
}
.widget
{
padding-left:10px;
padding-top:5px
}

.thinwidg
{
padding-left:10px;
}
body{
	background-color:#222222;
	color:#aaaaaa;
}

text
{
color:#aaaaaa
}

.y.axis
{
display:none
}

.x.axis text
{
fill:white;

}